body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #696868;
    padding: 15px 20px;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 0 15px;
    font-weight: bold;
    transition: color 0.4s ease;
}

nav a:hover {
    color: rgb(160, 8, 8);
}


div {
    padding: 20px;
    text-align: center;
}